.create-post {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: var(--dark-overlay);
  display: flex;
  justify-content: center;
  align-items: center;

  & > .container {
    width: 615px;
    min-height: 100px;
    background-color: var(--white-color);
    border-radius: 10px;
    position: relative;
    max-height: 80%;
    overflow-x: auto;

    .head {
      padding: 12px 24px;
      line-height: 21px;
      display: flex;
      font-size: 18px;
      position: sticky;
      top: 0;

      .exit {
        min-width: 48px;
        cursor: pointer;
        transition: all 0.15s;
        transform-origin: center;

        &:active {
          transform: scale(0.95);
        }
      }

      .text {
        font-weight: bold;
        flex-grow: 1;
        text-align: center;
      }

      .btn {
        min-width: 48px;
      }
    }

    .end {
      padding: 12px 24px;
      & > .box {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 48px 1fr;

        .avatar {
          width: 36px;
          height: 36px;
          grid-row-start: 1;
          grid-row-end: 3;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .username {
          grid-column-start: 2;
          grid-column-end: span 3;
          grid-row-start: 1;
          grid-row-end: 2;
          font-weight: 500;
        }

        .text {
          position: relative;
          grid-row-start: 2;
          grid-row-end: 3;
        }

        .image {
          margin-top: 10px;
          grid-column-start: 2;
          grid-column-end: span 3;
          grid-row-start: 3;
          grid-row-end: 4;
        }

        .add {
          margin-top: 12px;
          grid-column-start: 2;
          grid-column-end: span 3;
          grid-row-start: 4;
          grid-row-end: 5;

          .box {
            display: inline-block;
            color: var(--dark-overlay);
            cursor: pointer;
            transition: all 0.15s;
            transform-origin: center;

            &:hover {
              transform: scale(1.15);
            }

            &:active {
              transform: scale(0.95);
              color: var(--dark-color);
            }
          }
        }
      }
    }
    .btn {
      position: sticky;
      bottom: 0;
      display: flex;
      justify-content: end;
      padding: 0 24px 12px 0;

      .box {
        padding: 6px 12px;
        border: 0.8px solid var(--dark-overlay);
        color: var(--dark-overlay);
        border-radius: 6px;
        cursor: not-allowed;

        &.active {
          border-color: var(--dark-color);
          color: var(--dark-color);
          cursor: pointer;
        }
      }
    }
  }
}
